services:
  backend:
    build:
      context: ./backend
    environment:
      - APP_ENV=prod
    container_name: operations_backend
    env_file:
      - ./backend/.env
    expose:
      - "8000"
    restart: unless-stopped
    networks:
      - operations_net

  frontend:
    build:
      context: ./frontend
    container_name: operations_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - operations_net

networks:
  operations_net:
    driver: bridge
